:root {
  /* color */
  --color-black: #000000;
  --color-dark: #3f454d;
  --color-white: #ffffff;
  --color-blue: #007aff;
  --color-light-grey: #dfdfdf;
  --color-light-blue: #eaf2f8;

  /* size */
  --size-button: 50px;
  --fontsize-title: 20px;
  --fontsize-list: 16px;
  --fontsize-btn: 14px;
  --base-space: 8px;
  --border-radius: 16px;
  --size-thumbnail: 18px;

  /* animation */
  --ani-duration: 300ms;
}

* {
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--color-dark);
}

.container {
  margin-top: 16px;
  display: inline-block;
  position: relative;
  background-color: var(--color-light-blue);
  width: 375px;
  height: 720px;
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 1);
}

header {
  height: 140px;
  font-size: var(--fontsize-title);
  /* padding: calc(var(--base-space) * 2); */
  /* background-color: var(--color-pink); */
  color: var(--color-black);
  font-weight: bold;
  border-radius: 32px 32px 0 0;
}

header .status {
  width: 100%;
}

.title {
  height: 80px;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 28px;
}

.title .icon {
  width: 24px;
  height: 24px;
}

.profile {
  width: 48px;
  height: 48px;
}

.item_count {
  font-size: 12px;
  text-align: left;
  margin: 8px 24px;
  color: var(--color-dark);
}

.items {
  width: 100%;
  height: 440px;
  padding: 8px 16px;
  margin: 0;
  overflow: auto;
}

.item {
  margin-bottom: 8px;
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fontsize-list);
  padding: calc(var(--base-space) * 2);
  background-color: rgb(246, 246, 252);
  border-radius: var(--border-radius);
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.item_delete {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.item_delete img {
  width: var(--size-thumbnail);
  opacity: 0.7;
  transition: transform var(--ani-duration) ease-in-out;
}

.item_delete img:hover {
  transform: scale(1.1);
}

footer div {
  height: 110px;
  border-top: 1px solid var(--color-light-grey);
  display: flex;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 32px 32px;
}

.input {
  width: 287px;
  height: 48px;
  padding: 0 16px;
  font-size: var(--fontsize-list);
  position: relative;
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
  align-items: baseline;
  outline: none;
}

.add {
  position: relative;
  font-size: var(--fontsize-btn);
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #0071ed;
  outline: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  margin-left: 8px;
}

.add .btn_icon {
  width: 24px;
  height: 24px;
  transition: transform var(--ani-duration) ease-in-out;
}

.add .btn_icon:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.icons {
  margin: 32px;
}
.icons,
.icons a {
  font-size: 12px;
  line-height: 16px;
  color: #989898;
  text-decoration-style: none;
  /* text-align: right; */
}

footer .bar {
  position: absolute;
  bottom: 8px;
  left: 121px;
  width: 134px;
  height: 5px;
  border-radius: 2.5px;
  background-color: var(--color-dark);
}
